
/*  Body */

.section1{
    padding: 0 0 20px 20px;
}

.section2{
    padding: 0 0 20px 0px;
}

.section3{
    padding: 0 0 20px 0px;
}

footer{
    padding: 0 0 0 35px;
}




/* NAV */


nav{
    display: flex;
    flex-direction: column;
    align-items:center;
    }



nav a{
    border-bottom: 3px solid #F2F2F2;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav a:hover{
    border-bottom: 3px solid #0065fc;
    border-top: 3px solid transparent;
}

#anav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

#logoprincipal{
    margin-left: auto;
}


/* bouton de recherche */


.button{
    display: none;
}

.fa-solid.fa-magnifying-glass{
    display: inline;  
    padding: 12px 0 12px 0;
}

form button{
    border-radius: 10px 10px 10px 10px;
}


/*barre de filtres */

.filterbar{
    flex-direction: column;
    align-items: flex-start;
}




/* Hebergement et populaires */


.section2{
    flex-direction: column;
}

.section2 article{
    background-color: white;
    padding: 0 25px 0 25px;
}

.section2 aside{
    order: -1;
    border-radius: 0%;
    padding-bottom:  40px;
}

.partie1,.partie2{
    flex-direction: column;
}

.hebergechoix{
    width: auto;
    object-fit: none;
}

.hebergechoix img{
    height: 250px;
}

/* activité */

.section3 article{
    flex-direction: column;
}

.section3 img{
    height: 250px;
}

.small1,.small2{
    margin-bottom: 15px;
}

.activitelarge,.activitesmall{
    padding: 0 25px 0 25px;
}



/* footer      */

footer{
    flex-direction: column;
}








